* {
	font-family: Arial;
	margin: 0;
	padding: 0;
	}

body {
	background-color: black;
}

#right-sidebar {
	position: fixed;
		right: 0;
		top: 100px;
	max-width: 300px;
	margin-top: 100px;
	margin-left: 20px;
	background-color:rgba(0,0,0,0.4);
	border-radius: 5px;
}

.iconsize {
	height: 24px;
	width: 24px;
}

.btnz {
   display: block;
   padding: 10px 20px;
   border:none;
   text-decoration: none;
   font-size: 18px;
   color: #FFF;
   border-radius: 5px;
}
 
.btnz:hover {
   background-color: #000000;
   border-radius: 5px;
}

/*going to have to fix these image paths?*/

.backgroundone {
	margin-top: 0px;
	height: 100vh;
	width: 100%;
	background-image: url(imgs/montanavalley.jpg);
	background-size: cover;
}

.backgroundtwo {
	margin-top: 0px;
	height: 100vh;
	width: 100%;
	background-image: url(imgs/montanahills.jpg);
	background-size: cover;
}

/*is gonna need a new image, obviously*/
.backgroundthree {
	margin-top: 0px;
	height: 100vh;
	width: 100%;
	background-image: url(imgs/montanavalley.jpg);
	background-size: cover;
}

/*floating too high.*/
#bigtext {
	margin: 0 auto;
	font-family: Arial;
	font-size: 48px;
	width: 500px;
	color: white;
  	vertical-align: center;
  	margin-bottom: 20vh;
  	padding-top: 40vh;
}

.boxholder {
	margin: 0 auto;
	width: 90%;
	font-family: Arial;
	color: white;
	vertical-align: center;
	padding-top: 5vh;
	margin-top: 1vh;
}

.titletext{
	margin: 0 auto;
	width: 400px;
	text-align: center;
	font-size: 36px;
	color: white;
	padding-top: 20vh;
}

.biginfobox {
	display: block;
	text-indent: 18px;
	width: 600px;
	margin: 0 auto;
	height: 200px;
	padding: 5px 20px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 20px;
}

.biginfobox p {
	font-size: 16pt;
}

.infobox {
	display: inline-block;
	vertical-align: top;
	text-indent: 18px;
	width: 300px;
	height: 125px;
	padding: 5px 20px;
	margin: 5px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid black;
	border-radius: 5px;
}

.infobox h4 {
	text-align: center
}

.project {
	display: inline-block;
	vertical-align: top;
	width: 500px;
	height: 225px;
	border: 2px solid white;
	border-radius: 10px;
	margin: 10px;
}

.project img {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}